{% load i18n %}
{% load voting_tags %}
{% load thumbnail %}
{% load activity_tags %}
{% load comment_tags  %}
{% load userProfile_tags %}
{% load static %}

{% block extra_head %}
<style type="text/css">
  #action{
    border:1px solid #1769ff;
    padding:3px 16px 0 16px;
    text-overflow:ellipsis;
    font-size:13px;
    line-height:1.4;
    font:normal 13px arial,sans-serif;
    margin:10px;
    width:600px;
  }
  #timestamp{
    color: #999;
    font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
    direction:ltr;
    line-height:1.28;
    text-align: right;
  }

</style>
<script src="{% static "js/ajax.csrf.js" %}"></script>

<script type="text/javascript">

$(document).ready(function(){
			$('.previewPosted').width('100%');

            $(".imgIframe").click(function(){
                var oldId = $(this).attr("id");
                var currentId = oldId.substring(3);
                pTP = "pTP"+currentId;
                pDP = "pDP"+currentId;
                oldId = "#"+oldId;
                currentId = "#"+currentId;
                $(oldId).css({'display': 'none'});
                $(currentId).css({'display': 'block'});
                $('#'+pTP).css({'width': '495px'});
                $('#'+pDP).css({'width': '495px'});
          	});

          	//$('.broadcast').find('.message').linkify();
	          
}); 
</script>
{% endblock %}

<div id="action{{action.id}}">

	{% include 'actstream/render_actors.html' with action=action batched_actors=batched_actors %}


	<div id="action">
			<span id="verb{{random}}">
				{{ action.verb }}
			</span>

			{% include 'actstream/render_targets.html' with action=action batched_targets=batched_targets %}


			{% if action.target|get_class_name == "Review" or action.target|get_class_name == "Album"  or action.target|get_class_name == "Image" or action.target|get_class_name == "UserWishRadio" %}
				{% include 'actstream/render_voting.html' with object=action.target %}
				{% include 'actstream/render_subcomments.html' with object=action.target random=random %}

			{% endif %}


			<div id="timestamp">
			 	{{ action.timestamp|timesince }} {% trans "ago" %}
			</div>

	 </div>

	{% include 'actstream/render_follow_post.html' with action=action random=random %}

	{% include 'actstream/render_share_action.html' with action=action random=random %}

	{% if action.actor|get_class_name == "User" and action.actor == request.user or action.actor|get_class_name == "BlogPost" and action.actor.user == request.user %}
		<a class="deleteAction" data-action-id="{{action.id}}" href="{% delete_action_url action %}" style="color:black">x</a>
	{% endif %}

	{% include 'actstream/render_spam_report.html' with action=action %}

</div>
	
