
{% load activity_tags i18n static %}

<ul>		   	
{% get_list_of_batched_action_ids as batched_ids %}

{% for action in action_list %}
	{% if action.id  not in batched_ids %}
		{% with action.id as action_id %}
				{% if batched_actions %}
					{% with batched_actions|get_value_from_dict:action_id as batched_action_ids_list %}
						{#{action_id}}:{{batched_action_ids_list}#}

							{% get_batched_targets batched_action_ids_list action.id as batched_targets %}
							{% get_batched_actors batched_action_ids_list action.id as batched_actors %}
	    						<li class="topHalfGutter">{% include 'actstream/action.html'|backwards_compatibility_check with  batched_targets=batched_targets batched_actors=batched_actors%}</li>
    					
	    			{% endwith %}
	    		{% else %}
	    				<li class="topHalfGutter">{% include 'actstream/action.html'|backwards_compatibility_check %}</li>
	    		{% endif %}

    	{% endwith %}
	{% endif %}
	<hr class="dottedSeparator">
	{% empty %}
		{% trans "No actions yet" %}
{% endfor %}
</ul>

