{% load i18n %}
{% load voting_tags %}      
{% load userProfile_tags %}
{% load url from future %}
{% if object %}

    {% score_for_object  object as score %}
    {% voters_for_object object as voters %}

	{% if object|get_class_name == "Review" %}
        <a id="up{{random}}" href="{% url 'vote_on_reviews' object.id 'up' %}">
        <img src="{{ STATIC_URL }}img/like.png">
        </a>
        <span><a id="pScore{{random}}" href="{{ voters }}">{{score.num_up_votes}}</a></span>
        <a id="down{{random}}" href="{% url 'vote_on_reviews' object.id 'down' %}">
        	<img src="{{ STATIC_URL }}img/dislike.png">
        </a>
        <span id="nScore{{random}}">{{score.num_down_votes}}</span>
        <a id="clear{{random}}" href="{% url 'vote_on_reviews' object.id 'clear' %}">Clear</a>

    {% elif object|get_class_name == "Album" %}
        <a id="up{{random}}" href="{% url 'vote_on_albums' object.id 'up' %}">
        <img src="{{ STATIC_URL }}img/like.png">
        </a>
        <span><a id="pScore{{random}}" href="{{ voters }}">{{score.num_up_votes}}</a></span>
        <a id="down{{random}}" href="{% url 'vote_on_albums' object.id 'down' %}">
        	<img src="{{ STATIC_URL }}img/dislike.png">
        </a>
        <span id="nScore{{random}}">{{score.num_down_votes}}</span>
        <a id="clear{{random}}" href="{% url 'vote_on_albums' object.id 'clear' %}">Clear</a>

	{% elif object|get_class_name == "Image" %}
        <a id="up{{random}}" href="{% url 'vote_on_images' object.id 'up' %}">
        <img src="{{ STATIC_URL }}img/like.png">
        </a>
        <span><a id="pScore{{random}}" href="{{ voters }}">{{score.num_up_votes}}</a></span>
        <a id="down{{random}}" href="{% url 'vote_on_images' object.id 'down' %}">
        	<img src="{{ STATIC_URL }}img/dislike.png">
        </a>
        <span id="nScore{{random}}">{{score.num_down_votes}}</span>
        <a id="clear{{random}}" href="{% url 'vote_on_images' object.id 'clear' %}">Clear</a>

	{% elif object|get_class_name == "ThreadedComment" %}
        <a id="up{{random}}" href="{% url 'vote_on_comments' object.id 'up' %}">
        <img src="{{ STATIC_URL }}img/like.png">
        </a>
        <span><a id="pScore{{random}}" href="{{ voters }}">{{score.num_up_votes}}</a></span>
        <a id="down{{random}}" href="{% url 'vote_on_comments' object.id 'down' %}">
        	<img src="{{ STATIC_URL }}img/dislike.png">
        </a>
        <span id="nScore{{random}}">{{score.num_down_votes}}</span>
        <a id="clear{{random}}" href="{% url 'vote_on_comments' object.id 'clear' %}">Clear</a>
 	{% elif object|get_class_name == "UserWishRadio" %}
        <a id="up{{random}}" href="{% url 'vote_on_wishes' object.id 'up' %}">
        <img src="{{ STATIC_URL }}img/like.png">
        </a>
        <span><a id="pScore{{random}}" href="{{ voters }}">{{score.num_up_votes}}</a></span>
        <a id="down{{random}}" href="{% url 'vote_on_wishes' object.id 'down' %}">
        	<img src="{{ STATIC_URL }}img/dislike.png">
        </a>
        <span id="nScore{{random}}">{{score.num_down_votes}}</span>
        <a id="clear{{random}}" href="{% url 'vote_on_wishes' object.id 'clear' %}">Clear</a>       
	{% endif %}
{% endif %}