{% load i18n mezzanine_tags comment_tags rating_tags userProfile_tags %}
{% load thumbnail %}

{% editable comment.is_public comment.is_removed %}
{% if not comment.is_removed and comment.is_public %}
<div class="row">
    <div class="span6">
        <span>
            <span class="trunc-comment">{{ comment.intro }}</span>
            {% if comment.comment != comment.intro %}
                <span class="exp-comment" style="display:none;">{{ comment.comment }}</span>
                <a class="toggle-comment" style="cursor: pointer;">More...</a>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="span6">
By:
    {% if comment.user|get_class_name == "User" %}
        <a href="{{ comment.user.get_absolute_url }}" class="fontSize13">
          {% get_full_name comment.user %}
        </a> 
    {% else %}
        {% trans "Anonymous" %}
    {% endif %}
        on <a href="{{ comment.content_object.get_absolute_url }}" class="radioColor hontHelvetica fontSize13">{{ comment.content_object }}</a>
    </div>
</div>        
{% endeditable %}
