{% load activity_tags %}
{% load userProfile_tags %}

{% if action.verb == 'FOLLOW_VERB'|settings_value or action.verb == 'UNFOLLOW_VERB'|settings_value %}
    {# TO DO #}
{% else %}
<div class="row">
    <div class="span6" style="height:22px;">
        <span class="radioModuleFeedRadio"></span>
        <span class="radioModuleFeedContainer">
            {% if action.target|get_class_name == "Review" or action.target|get_class_name == "Album"  or action.target|get_class_name == "Image" or action.target|get_class_name == "GenericWish" or action.target|get_class_name == "BroadcastWish" or action.target|get_class_name == "BroadcastDeal"%}
                {% include 'generic/includes/render_voting.html' with object=action.target %}
            {% endif %}

            {% include 'actstream/render_share_action.html' with object=action.target %}

            {% include 'actstream/render_comment_text.html' with object=action.target %}

            {% include 'actstream/render_follow_post.html' with action=action %}
        </span>
        <span class="halfGutter">
        {% if action.actor|get_class_name == "User" and action.actor == request.user or action.actor|get_class_name == "BlogPost" and action.actor.user == request.user %}
            <span class="manageFeed" onclick="var $this = $(this); if ( $this.hasClass('manageFeedUp') ) { $this.removeClass('manageFeedUp moveManageFeedUp'); $this.parent().find('.whiteBox').hide();} else { $this.addClass('manageFeedUp moveManageFeedUp'); $this.parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative'});}"></span>
            <span style="height:50px;display:none;padding:0px 15px;" class="whiteBox">
                <span style="line-height:25px;float:left">
                    <a class="deleteAction" data-action-id="{{action.id}}" href="{% delete_action_url action %}">Delete</a>
                </span>
                <span style="line-height:25px;float:left;clear:both">
                    {% include 'actstream/render_spam_report.html' with object=action %}
                </span>
            </span>
        {% else %}
            <span class="manageFeed" onclick=" if ( $(this).hasClass('manageFeedUp') ) { $(this).removeClass('manageFeedUp'); $(this).parent().find('.whiteBox').hide();} else { $(this).addClass('manageFeedUp'); $(this).parent().find('.whiteBox').show().css({'display': 'inline-block', 'position': 'relative'});}"></span>
            <span style="height:25px;line-height:25px;display:none;padding:0px 15px;" class="whiteBox">
                <span>
                    {% include 'actstream/render_spam_report.html' with object=action %}
                </span>
            </span>
        {% endif %}
        </span>
    </div>
</div>
{% endif %}