{% load i18n %}
{% load voting_tags %}      
{% load userProfile_tags %}
{% load url from future %}
{% if object %}

    {% score_for_object  object as score %}
    {% voters_for_object object as voters %}

	{% if object|get_class_name == "Review" %}
        <span>
            <a class="upvote" href="{% url 'vote_on_reviews' object.id 'up' %}">
            <img src="{{ STATIC_URL }}img/like.png">
            </a>
            <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
            <a class="downvote" href="{% url 'vote_on_reviews' object.id 'down' %}">
            	<img src="{{ STATIC_URL }}img/dislike.png">
            </a>
            <span class="nScore">{{score.num_down_votes}}</span>
            <a class="clearvote" href="{% url 'vote_on_reviews' object.id 'clear' %}">Clear</a>
        </span>
    {% elif object|get_class_name == "Album" %}
        <span>
            <a class="upvote" href="{% url 'vote_on_albums' object.id 'up' %}">
            <img src="{{ STATIC_URL }}img/like.png">
            </a>
            <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
            <a  class="downvote" href="{% url 'vote_on_albums' object.id 'down' %}">
            	<img src="{{ STATIC_URL }}img/dislike.png">
            </a>
            <span class="nScore">{{score.num_down_votes}}</span>
            <a  class="clearvote" href="{% url 'vote_on_albums' object.id 'clear' %}">Clear</a>
        </span>
	{% elif object|get_class_name == "Image" %}
        <span>
            <a class="upvote" ref="{% url 'vote_on_images' object.id 'up' %}">
            <img src="{{ STATIC_URL }}img/like.png">
            </a>
            <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
            <a class="downvote" href="{% url 'vote_on_images' object.id 'down' %}">
            	<img src="{{ STATIC_URL }}img/dislike.png">
            </a>
            <span class="nScore">{{score.num_down_votes}}</span>
            <a  class="clearvote" href="{% url 'vote_on_images' object.id 'clear' %}">Clear</a>
        </span>
	{% elif object|get_class_name == "ThreadedComment" %}
        <span>
            <a  class="upvote" href="{% url 'vote_on_comments' object.id 'up' %}">
            <img src="{{ STATIC_URL }}img/like.png">
            </a>
            <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
            <a class="downvote" href="{% url 'vote_on_comments' object.id 'down' %}">
            	<img src="{{ STATIC_URL }}img/dislike.png">
            </a>
            <span class="nScore">{{score.num_down_votes}}</span>
            <a  class="clearvote" href="{% url 'vote_on_comments' object.id 'clear' %}">Clear</a>
        </span>
 	{% elif object|get_class_name == "UserWishRadio" %}
        <span>
            <a class="upvote" href="{% url 'vote_on_wishes' object.id 'up' %}">
            <img src="{{ STATIC_URL }}img/like.png">
            </a>
            <a class="pScore" href="{{ voters }}">{{score.num_up_votes}}</a>
            <a class="downvote" href="{% url 'vote_on_wishes' object.id 'down' %}">
            	<img src="{{ STATIC_URL }}img/dislike.png">
            </a>
            <span class="nScore">{{score.num_down_votes}}</span>
            <a  class="clearvote" href="{% url 'vote_on_wishes' object.id 'clear' %}">Clear</a>  
        </span>     
	{% endif %}
{% endif %}