{% load i18n %}
{% load thumbnail %}
{% load userProfile_tags %}
{% load thumbnail %}

{% if wish.message %}
<div class="row">
    <div class="span6">
        <span class="message">
            {{ wish.message|urlize }}
        </span>
    </div>
</div>
{% endif %}
{% if wish.wishimage and wish.wishimage.image %}
    <div class="row topHalfGutter">
        <div class="span6">
            {% get_reldata_url wish as rel_data_url %}
            {% thumbnail wish.wishimage.image "800x400" as img %} 
                <a class="wishimg-wish{{wish.id}}" href="{{  wish.wishimage.image.url }}" data-reldata-url="{{rel_data_url}}">
                    <img src="{{ MEDIA_URL }}{{img}}" style="max-height:150px;">
                </a> 
                <script type="text/javascript">
                      $('a.wishimg-wish{{wish.id}}').fancybox({
                        scrolling: 'yes',
                        minWidth:500,
                        minHeight:450,
                        autoSize: true,
                        helpers : { overlay : { locked : false } }
                      });
                </script> 
            {% endthumbnail %}
        </div>
    </div>
{% endif %}
{% if wish.urlPreviewContent %}
<div class="row topHalfGutter">
    <div class="span6">
        {% autoescape off %}
            {{wish.urlPreviewContent}}
        {% endautoescape %}
    </div>
</div>
{% endif %}
{% if  wish.blog_category %}
<div class="row topHalfGutter">
    <div class="span6">
            <a class="categoryTag" href="{{ wish.blog_category.get_absolute_url }}"> {{wish.blog_category}} </a>
    </div>
</div>
{% endif %}
