{% load activity_tags i18n %}
{% load userProfile_tags %}
{% load thumbnail %}

{% if action %}
	{% if action.target|get_class_name == "Review" or action.action_object|get_class_name == "Review" %}
		{% review_verb_linkify action %}
	{% else %}
		{{action.verb}}
	{% endif %}

	{% if action.verb == 'SHARE_VERB'|settings_value %}
		{% if action.target|get_class_name == "BroadcastDeal" %}
			{% get_wish_owner action.target as deal_owner %}
			{% include 'actstream/render_actor_name.html' with actor=deal_owner %}'s Deal
		{% endif %}
		{% if action.target|get_class_name == "BroadcastWish" %}
			{% get_wish_owner action.target as wish_owner %}
			{% include 'actstream/render_actor_name.html' with actor=wish_owner %}'s Wish
		{% endif %}
		{% if action.target|get_class_name == "GenericWish" %}
			{% get_wish_owner action.target as wish_owner %}
			{% include 'actstream/render_actor_name.html' with actor=wish_owner %}'s Post
		{% endif %}
		{% if action.target|get_class_name == "Review" %}
			{% include 'actstream/render_actor_name.html' with actor=action.target.user %}'s Review on {% include 'actstream/render_actor_name.html' with actor=action.target.content_object %}
		{% endif %}
	{% endif %}
	
	{% if action.verb == 'GOT_REVIEW_VERB'|settings_value %}
		from {% include 'actstream/render_actor_name.html' with actor=action.target.user %}
	{% endif %}
{% endif %}