
{% load activity_tags i18n %}
{% load thumbnail %}

{% if action %}
    {% include 'actstream/render_actor.html' with actor=action.actor %}
{% endif %}

{% if batched_actors %}
        {% for batched_actor in batched_actors %}
            {#% include 'actstream/render_actor.html' with actor=batched_actor %#}
            {% if forloop.counter == batched_actors|length %}
              {% trans "and" %}
            {% endif %}

            <a href="{{ batched_actor.get_absolute_url }}">{{batched_actor}}</a>
            
        {% endfor %}
{% endif %}

