{% load i18n %}
{% load comment_tags  %}
      
{% if object %}
	<span class="subcomments_container">
	<a href="{% comments_for_obj_url object %}" OnClick="
	        var add_link = $(this);
	        $.get(add_link.attr('href'), {}, function(data) {
	            add_link.parent().find('.subcomments').html(data);
	            add_link.parent().find('.commenton').show();
	            install_voting_handlers();
	            install_comment_on_object_handler();
	        });
	        return false;">comment</a>

	<a class="broadcasters" href="{% get_commenters_url object %}">{% comment_count_on_object object %}</a>

	<span class="subcomments"></span>
	<span class="commenton" style="display:none;">
		{% comments_for_review object %}
	</span>
	</span>
{% endif %}