{% load activity_tags static %}
{% load userProfile_tags %}
{% if action %}

 {% can_share_action action as canShare %}

{% if canShare != 0 or request.user|get_class_name == "AnonymousUser" %}
	 <a class="shareaction" href="#" data-href="{% share_action_url action %}" ><img src='{% static "img/broadcast.ico" %}' title='share'></img></a>
{% endif %}
	{% get_share_count action as shareCount %}

	{% broadcasters_for_object action as broadcasters_url %}

	{% if shareCount != 0 %}
		#<a class="broadcasters" href="{{broadcasters_url}}">{{ shareCount }}</a>
	{% endif %}
{% endif %}